<html>
  <head>
      <title> Alex's Portfolio </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
      <%- include('./partials/header.ejs') %>
      <div>
        <h3>Portfolio:</h3>
        <h5>Javascript</h5>
        <ul>
          <li>
            <p>
              <span>App: </span>
              <a target="_blank" id="s_awc" href="https://sdcs-web102-astro-calculator.herokuapp.com/"><span>Astro Weight Calculator</span></a>
              <span>GitHub Repo: </span>
              <a target="_blank" href="https://github.com/alexkmartinez77/web102-astro-weight-calculator"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </p>
          </li>
          <li>
            <p>
              <span>App: </span>
              <a target="_blank" href="https://sdcs-web102-change-calculator.herokuapp.com/"><span>Change Calculator</span></a>
              <span>GitHub Repo: </span>
              <a target="_blank" href="https://github.com/alexkmartinez77/web102-change-calculator"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </p>
          </li>
          <li>
            <p>
              <span>App: </span>
              <a target="_blank" href="https://sdcs-web102-sd-hot-spots.herokuapp.com/"><span>San Diego Top Spots</span></a>
              <span>GitHub Repo: </span>
              <a target="_blank" href="https://github.com/alexkmartinez77/web102-san-diego-top-spots"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </p>
          </li>
        </ul>
        <h5>React</h5>
        <ul>
          <li>
            <p>
              <span>App: </span>
              <a target="_blank" href="https://sdcs-react100-mortgage-calc.herokuapp.com/"><span>Mortgage Calculator</span></a>
              <span>GitHub Repo: </span>
              <a target="_blank" href="https://github.com/alexkmartinez77/react100-mortgage-calculator"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://hidden-chamber-83211.herokuapp.com/"><span>Tic Tac Toe</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react100-tic-tac-toe"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://sdcs-react100-vstda.herokuapp.com/"><span>To Do List and Task Management</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react100-vstda"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://sdcs-f3.herokuapp.com/"><span>Calorie Manager</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react100-hackathon"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://sdcs-web102-change-calculator.herokuapp.com/"><span>Change Calculator</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react100-change-calculator"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://sdcs-react100-sd-top-spots.herokuapp.com/"><span>San Diego Top Spots</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react100-san-diego-top-spots"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
              </p>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://sdcs-react200-budget-tracker.herokuapp.com/"><span>Budget Tracker</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react200-budget-tracker"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
              </p>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://sdcs-react200-weather-app.herokuapp.com/"><span>City Weather</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react200-weather-app"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
              </p>
            </li>
            <li>
              <p>
                <span>App: </span>
                <a target="_blank" href="https://sdcs-react200-movie-finder.herokuapp.com/#/"><span>Movie Finder</span></a>
                <span>GitHub Repo: </span>
                <a target="_blank" href="https://github.com/alexkmartinez77/react200-movie-finder"><img class="imageSize align-top" src="../images/GitHub-Mark-32px.png"></a>
              </p>
            </li>
          </ul>
      </div>
      <%- include('./partials/footer.ejs') %>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>