<html>
  <head>
      <title> Tom's Portfolio </title>
  </head>
  <body>
      <%- include('./partials/header.ejs') %>
      <div>
        I am Tom
      </div>
      <%- include('./partials/footer.ejs') %>
  </body>
</html>